.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items>ul {
    list-style-type: none;
    display: flex;
}

.spacing {
    margin: 20px;
    padding: 5px;
    text-decoration: none;
}

.logo {
    width: 100px;
}

.card {
    width: 250px;
    border: 1px solid black;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    font-size: 10px;
    height: 300px;
}

.card>img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 20px;
}

.shimmer-card {
    width: 250px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.menu {
    display: flex;
}

.restaurant-container {
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-input {
    font-size: 12px;
    padding: 8px;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px
}

.search-btn {
    border: 1px solid lightgrey;
    padding: 2px;
    width: 100px;
    border-radius: 3px;
    height: 35px;
    margin: 5px;
    background-color: aqua;
    opacity: 1px;
}

/* Login Page CSS */

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
}

.form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}

.logout-btn{
    border: 1px solid lightgrey;
    padding: 2px;
    width: 100px;
    border-radius: 3px;
    height: 35px;
    margin: 5px;
    background-color: aqua;
    opacity: 1px;
    align-self:center; 
  }
