.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items>ul {
    list-style-type: none;
    display: flex;
}

.spacing {
    margin: 20px;
    padding: 5px;
    text-decoration: none;
}

.logo {
    width: 100px;
}

.card {
    width: 250px;
    border: 1px solid black;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    font-size: 10px;
    height: 300px;
}

.card>img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 20px;
}

.shimmer-card {
    width: 250px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.menu {
    display: flex;
}

.restaurant-container {
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-input {
    font-size: 12px;
    padding: 8px;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px
}

.search-btn {
    border: 1px solid lightgrey;
    padding: 2px;
    width: 100px;
    border-radius: 3px;
    height: 35px;
    margin: 5px;
    background-color: aqua;
    opacity: 1px;
}